* {
    box-sizing: border-box
}

body {
    font-family: arial;
    margin: 0;
    background: whitesmoke
}

main,
header {
    max-width: 1080px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
}

a {
    color: inherit
}

table {
    /* border-collapse: collapse; */
    width: 100%;

    border-radius: 30px
}

th,
td {
    border: .25px solid black;
    border-radius: 5px;
    padding: 15px;

}

#signup {
    position: relative;
    top: 8px
}

#signin {
    position: relative;
    top: 8px
}


#formDiv {
    background: white;
    position: relative;
    top: 120px;
    height: 175px;
}

#submit {
    background: rgb(238, 64, 53);
    color: white;
    position: relative;
    top: -20px;
    width: 200px;
}

#logIn {
    position: relative;
    top: 30px;
}

#logSignUp {
    position: relative;
    top: 40px;
    color: rgb(2, 50, 76);
}

#longURL {
    position: relative;
    top: -25px
}

#logout {
    position: relative;
    top: 30px;
    cursor: pointer;
}

.txtColor {
    color: rgb(2, 50, 76);
    font-weight: bold;
    font-size: 16px;
}

.labelStyles {
    color: rgb(2, 50, 76);
    position: relative;
    right: -12px;
    /* font-weight: bold; */
    font-size: 18px;
}

.inputdivs {
    width: 340px;
    height: 45px;
    color: rgb(2, 50, 76);
    border: 1.5px solid rgb(121, 147, 160);
}

.coloredBtn {
    background: rgb(238, 64, 53);
    color: white;
    width: 340px;
}

.noColorBtn {
    background: white;
    color: rgb(2, 50, 76);
    width: 340px;
}

.btmButton {
    position: relative;
    bottom: -20px;
    font-size: 1rem;
    color: rgb(2, 50, 76);
    font-weight: 1
}

.topButton {
    position: relative;
    bottom: -30px;
    font-size: 1rem;
}

.tinyFont {
    font-size: 12px;
}

.signInContainer {
    width: 400px;
    margin: auto;
    background: white;
    color: rgb(2, 50, 76);
    border: 1.5px solid rgb(121, 147, 160);
    border-radius: 5px;
    position: relative;
    top: 90px;
    height: 450px
}

.signUpContainer {
    width: 400px;
    margin: auto;
    background: white;
    border: 1.5px solid grey;
    color: rgb(2, 50, 76);
    border: 1.5px solid rgb(121, 147, 160);
    border-radius: 5px;
    position: relative;
    top: 110px;
    height: 550px
}

.textSignIn {
    position: relative;
    top: 80px;
}


.tableContainer {
    overflow: hidden;
    background: white;
    position: relative;
    top: 140px;
    border: 1px solid black;
    border-radius: 5px;

}

.mainTableContainer {
    margin: 0;
    padding: 0;
}

.urlAndlogOut {
    position: relative;
    top: 55px;
}